%footer.footer
  %ul.footer__list
    %li.footer__item= link_to 'DEARについて',             root_path
    %li.footer__item= link_to 'Q&A',                      root_path
    %li.footer__item= link_to 'プライバシーポリシー',     root_path
    %li.footer__item= link_to '利用規約',                 root_path
    %li.footer__item= link_to '特定商取引法に基づく表記', root_path
    %li.footer__item= link_to 'お問い合わせ',             root_path
    %li.footer__item= link_to 'ログイン',                 root_path
  %p.footer__copyright copyright © MIESUN
